{% extends 'base.html' %}

{% block head %}
  <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-social.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<div class="row">
  <div class="cover col-sm-10">
    <h2 class="centered">Quora</h2>
    <p class="centered">Get answers to your questions.</p>
    <hr>
    <a href="/accounts/facebook/login/?process=login" class="btn btn-block btn-lg big-fb-button btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
     <a href="/accounts/google/login/?process=login" class="btn btn-block btn-lg big-fb-button btn-social btn-google">
        <span class="fa fa-google"></span> Sign in with Google
    </a>
  </div>
</div>
{% endblock body %}
